.ot_background {
    background-color: rgba(188, 188, 188, 0.241);
}

.tempbtl {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.build_your_bdl {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}



.build_your_bdl>div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.build_your_bdl_1 {
    font-size: 0.8rem;
    color: #7b7b7c;
}

.build_your_bdl_2>h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.build_your_bdl_3 {
    color: #7b7b7c;
    font-size: 1rem;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.build_your_bdl_3>p>span {

    font-weight: bold;
    color: #525253;
    font-size: 1rem;
}

.mealbox {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    display: flex;
    /* padding-left: 60px;
    padding-right: 60px; */

}



.mealbox_left {
    flex: 0.5;
    margin-left: 60px;

}

.mealbox_left>img {
    width: 100%;
    border-radius: 10px;
}




.mealbox_right {
    flex: 0.5;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    padding-left: 90px;

}



.mealbox_right_header {
    /* font-size: 1.2rem; */
    width: fit-content;
    margin-top: auto;
}

.mealbox_right_header>h3 {
    font-size: 1.9rem;
}

.mealbox_right_mid {
    font-size: 1rem;
    width: 390px;
}

.mealbox_right_mid>p {
    color: #7b7b7c;
}

.mealbox_right_mid>p>span {
    font-weight: bold;
    color: #464646;
}

.mealbox_right_bottom {
    font-size: 0.9rem;
    width: fit-content;
    margin-bottom: auto;
}

.mealbox_right_bottom_btn {
    font-size: 0.9rem !important;
    text-transform: none !important;
    background-color: #7A25FF !important;
    color: #FFFFFF !important;
    padding: 10px 25px !important;
}

@media only screen and (max-width: 1080px) {
    .mealbox {
        display: flex;
        flex-direction: column;

    }

    .mealbox_left {
        text-align: center;
        margin-left: 0px;
        height: fit-content;
    }

    .mealbox_left>img {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .mealbox_right {
        display: block;
    }

    .mealbox_right>div {
        margin-left: auto;
        margin-right: auto;
    }


}

.otbundels {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 80%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
}

.otbundels_header {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 30px;
}

.otbundels_main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    padding-left: 10px;
    justify-content: center;
}

.otbundels_main_comp {
    transition: all 10s ease-in-out;
}

@media only screen and (max-width: 790px) {
    .otbundels_main {
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding-left: 10px;
        justify-content: center;
    }


}

/* .otbundels_main {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
} */