.otbundlebox {
    width: fit-content;
    display: flex;
    flex-direction: column;
    opacity: 1;
    /* transition-property: opacity !important;
    transition-duration: 2s !important;
    transition-timing-function: ease-in !important; */
    margin-right: 10px;
}

.otbundlebox_img {
    display: flex;
    height: 80%;
}

.otbundlebox_txt {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.otbundlebox_img>img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;

}

/* .otbundlebox_img>img:hover {
    display: block;
    transition-property: display !important;
    transition-duration: 2s !important;
    transition-timing-function: linear !important;
} */

.otbundlebox_txt_btn {
    font-size: 0.81rem !important;
    text-transform: none !important;
    margin-left: 10px !important;
    color: black !important;
}