@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: #0D062B;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 40px;
}


.footer_top {
    display: block;
}

.footer_top_sub {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

@media only screen and (max-width: 762px) {
    .footer_top_sub {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
}

.footer_top_div {
    padding-bottom: 30px;
    padding-left: 10px;
}

.footer_top_div>h3 {
    width: fit-content;
}




.footer_top_div>ul {
    width: fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #E4E3E7;
    cursor: pointer;
}

.footer_top_div_li:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/* .footer_top_div>ul:hover {
    color: #FFFFFF;
    text-decoration: underline;
} */

.footer_top_div>ul>li {
    width: fit-content;
    margin-bottom: 10px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    border-top: solid #e4e3e736 1px;
}

.footer_bottom_top {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 80%;
    grid-template-columns: auto auto;
}



.footer_bottom_top1 {
    display: flex;
}

.footer_bottom_top11 {
    display: block;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}

.footer_bottom_top11>form {
    display: block;
    width: fit-content;
    color: #E4E3E7;
    border: solid #e4e3e736 1px;
}

.footer_bottom_top11>form>select {
    padding: 10px;
    display: block;
    width: fit-content;
    color: #E4E3E7;
    background-color: #0D062B;
    /* border: solid #FFFFFF 1px; */
}

.footer_bottom_top12>form {
    display: block;
    width: fit-content;
    color: #E4E3E7;
    border: solid #e4e3e736 1px;
}

.footer_bottom_top12>form>select {
    padding: 10px;
    display: block;
    width: fit-content;
    color: #E4E3E7;
    background-color: #0D062B;
    /* border: solid #FFFFFF 1px; */
}

.footer_bottom_top12 {
    display: block;
    width: fit-content;
    margin: 10px;
    padding: 10px;
}

.footer_bottom_top1s {
    margin-top: 10px;
}

.footer_bottom_top2 {
    display: flex;
    align-items: center;
}

.footer_bottom_top2>div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.footer_bottom_top2>div>div {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-right: 5px;
    width: 35px;
    height: 25px;
    margin-top: 20px;
}

.footer_bottom_top2>div>div>img {
    border-radius: 5px;
    width: 35px;
    height: 25px;
}


.footer_bottom_bottom {
    color: #E4E3E7;
    padding-left: 20px;
    font-size: 0.8rem;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 762px) {
    .footer_bottom_top {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .footer_bottom_bottom {
        margin-top: 10px;
        justify-content: center;
    }

    .footer_bottom_top2>div {
        margin-right: auto;
        justify-content: space-between;
    }

    /* .footer_bottom_top2>div>div {
        margin-right: auto;
    } */

    .footer_bottom_top11 {
        margin-left: auto;
    }

    .footer_bottom_top12 {
        margin-right: auto;
    }
}