.TEMP {
    background: rgb(32, 15, 70);
    background: linear-gradient(90deg, rgba(32, 15, 70, 1) 0%, rgba(113, 27, 249, 1) 35%, rgba(18, 242, 132, 1) 100%);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0%;
    margin: 0%;
}