@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

.TEMP {
    background: rgb(32, 15, 70);
    background: linear-gradient(90deg, rgba(32, 15, 70, 1) 0%, rgba(113, 27, 249, 1) 35%, rgba(18, 242, 132, 1) 100%);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* transition: 5s all linear;
    -webkit-transition: 1s all linear;
    -moz-transition: 1s all linear;
    -ms-transition: 1s all linear;
    -o-transition: 1s all linear; */
}

html {
    scroll-behavior: smooth;
}

/* div {
    transition: width 5s ease-in;
} */

body {
    padding: 0%;
    margin: 0%;
}